{{- if or (ne .ExitCode 0) .Summary }}
Exit Code: {{ .ExitCode }}

{{- if .Output }}
Output{{ if .Tail }} Tail{{ end }}{{ if .Summary }} Summary{{ end }}:
{{- end }}

{{- end }}

{{- if .Output }}
{{- if .Summary }}
{{- .Output }}
{{- else }}
`````
{{ .Output }}
`````
{{- end }}
{{- else }}
The command returned an empty output.
{{- end }}