Status: {{ .Status }}
{{- if .Headers }}
Headers:
{{- range $key, $values := .Headers }}
{{ $key }}: {{ range $values }}{{.}} {{ end }}
{{- end }}
{{- end }}
{{- if .Body }}
---
{{ if .Summary -}}
Response Summary:
{{- else -}}
Body:
{{- end }}

`````
{{ .Body }}
`````
{{- end }}