Status: {{ .StatusCode }} {{ .Status }}
{{- if .Headers }}
Headers:
{{- range $key, $values := .Headers }}
{{ $key }}: {{ range $values }}{{.}} {{ end }}
{{- end }}
{{- end }}
{{- if .Body }}
Body:
{{ .Body }}
{{- end }}