Provide a concise summary of HTTP response, and any notable information from the response body. Do not echo the output, status and headers themselves, as user has already seen them.

Status: {{ .Status }}
{{- if .Headers }}
Headers:
{{- range $key, $values := .Headers }}
{{ $key }}: {{ range $values }}{{.}} {{ end }}
{{- end }}
{{- end }}

---
Body:

`````
{{ .Body }}
`````